body{
  background-color: whitesmoke;
}

li a {
    color: green;
    font-size: 1.2rem;
    list-style-type: none;
}

.pageTitle {
  margin-top: 5%;
  background-color: #C9F0DD;
  padding-left: 2%;
}
